<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お焚き上げ</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center h-screen w-screen bg-white">
    <!-- Japanese Title -->
    <h1 class="text-3xl mb-4 text-gray-600">お焚き上げ</h1>

    <!-- English Title -->
    <h1 class="text-5xl font-bold mb-8 text-orange-500">Otakiage</h1>

    <!-- Circle Mask Image -->
    <div class="tooltip tooltip-secondary" data-tip="tap here!">
        <a href="/auths">
            <img class="mask mask-circle w-40 h-40 mb-8" src="/static/fireicon1.png" alt="Otakaiage Icon">
        </a>
    </div>
    <!-- Loading Spinner -->
</body>

</html>